[flake8]
max-line-length = 120
inline-quotes = double

# Flake8 is not PEP-8 compliant with E203. See:
# https://black.readthedocs.io/en/stable/guides/using_black_with_other_tools.html#flake8
extend-ignore = E203
