title: OpenTTD
email: info@openttd.org
description: >- # this means to ignore newlines until "baseurl:"
  An open source simulator based on the classic game Transport Tycoon Deluxe. It attempts to mimic the original game as closely as possible while extending it with new features.
baseurl: ""
staticurl: /static
url: "https://www.openttd.org"
timezone: Etc/UTC
excerpt_separator: <!-- more -->
future: true

markdown: kramdown
plugins:
  - jekyll-feed
  - jekyll-paginate-v2

exclude:
  - fetch_downloads
  - requirements.base
  - requirements.txt
  - thirdparty

defaults:
  - scope:
      path: ""
    values:
      layout: "default"
  - scope:
      path: ""
      type: "downloads"
    values:
      layout: "download"
  - scope:
      path: ""
      type: "posts"
    values:
      layout: "post"
  - scope:
      path: ""
      type: "screenshots"
    values:
      layout: "screenshot"
  - scope:
      path: ""
      type: "security"
    values:
      layout: "security"

collections:
  downloads:
    output: true
  download-meta:
    output: false
  contact:
    output: false
  posts:
    permalink: /news/:year/:month/:day/:title.html
  screenshots:
    output: true
  security:
    output: true

pagination:
  enabled: true
  collection: "posts"
  per_page: 5
  permalink: "/page/:num/"
  category: "posts"
  sort_field: "date"
  sort_reverse: true
