<section>
    <h3 class="section-title" style="float: left"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h3>
    <h4 class="section-date">{{ post.date | date: "%Y-%m-%d" }}</h4>
    <h5 class="section-author">Posted by {{ post.author }}</h5>
    <div class="section-content">
        {% if include.excerpt %}
        {{ post.excerpt }}

        {% if post.excerpt != post.content %}
            <a href="{{ site.baseurl }}{{ post.url }}">Read more</a>
        {% endif %}
        {% else %}
        {{ post.content }}
        {% endif %}
    </div>
</section>
