<div class="section-item">
    <div class="title">
        <h3>
            <!--! I don't know why base has to be reimported, it should be in scope already but eh -->
            {% include base.html %}
            <a href="{{ base }}{{ post.url }}">{{ post.title }}</a>
        </h3>
    </div>
    <div class="date">
        <h5>{{ post.date | date: "%Y-%m-%d" }}</h5>
    </div>
    <div class="user">
        <h5>
            Posted by
            <!-- get the author nickname by looping over people in the site
                 we abstract this so we can change nicks etc freely
                 also in future we might link the author name to a list of all their posts -->
            {% for person in site.people %}
                {% assign person_id = person.id | remove_first: "/people/" %}
                {% if post.author == person_id %}
                    {{ person.nick }}
                {% endif %}
            {% endfor %}
        </h5>
    </div>
    <div class="content">
        {{ post.content }}
    </div>
</div>
