<div class="section-item">
    <div class="title">
        <h3>
            <!--! I don't know why base has to be reimported, it should be in scope already but eh -->
            {% include base.html %}
            <a href="{{ base }}{{ post.url }}">{{ post.title }}</a>
        </h3>
    </div>
    <div class="date">
        <h5>{{ post.date | date: "%Y-%m-%d" }}</h5>
    </div>
    <div class="user">
        <h5>
            Posted by {{ post.author }}
        </h5>
    </div>
    <div class="content">
        {{ post.content }}
    </div>
</div>
