*, ::before, ::after {
	box-sizing: border-box;
}
html {
	background: #ab9c7d;
	color: black;
	font-family: "Trebuchet MS", Arial, Verdana, Sans-Serif;
	font-size: 12px;
}
body {
	margin: auto auto;
}
select {
	color: black;
}
img {
	border: 0px;
}
a {
	color: #DD6000;
}
a:focus, a:hover {
	color: #BB4000;
}
hr {
	background: url("../img/layout/hr.png") repeat-x;
	border: none;
	height: 2px;
}
h3, .h3 {
	font-weight: normal;
	font-size: 16px;
	margin: 0px;
	text-decoration: underline;
}
h4, .h4 {
	font-weight: normal;
	font-size: 14px;
	margin: 0px;
}
h5, .h5 {
	font-weight: normal;
	font-size: 12px;
	margin: 0px;
}

.nowrap {
	overflow: hidden;
	white-space: nowrap;

	/* The following elements are not part of CSS2, but are required for some
	 *  (broken) browsers who do not understand the former definitions. */
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
}

body > * {
	width: 800px;
}

body > header {
	height: 90px;
	margin: 0px auto;
	box-shadow: 0px 0px 5px #000000;
	/* Stripes! */
	background-image: linear-gradient(0deg, #323536 50%, #3c3e40 50%, #3c3e40 100%);
	background-size: 2px 2px;
}

#download-fast {
	background: url("../img/layout/download-package.gif") 12px 50% no-repeat, rgba(85, 87, 89, 0.4);
	border: 0 solid;
	border-radius: 6px;
	float: left;
	line-height: 12px;
	margin: 22px 0px 0px 10px;
	padding: 9px 12px 9px 45px;
	text-align: left;
}
#download-fast h5 a {
	color: #CCCCCC;
	font-size: 11px;
	text-decoration: none;
}
#download-fast h5 a:focus, #download-fast h5 a:hover {
	color: #999999;
}

#header-logo {
	float: right;
	width: 400px;
}

#openttd-logo {
	background: url("../img/layout/openttd-64.gif") no-repeat;
	background-position: left center;
	float: right;
	height: 75px;
	margin-top: 6px;
	width: 250px;
}
#openttd-logo-ipv6 {
	background: url("../img/layout/openttd-64-ipv6.gif") no-repeat;
	background-position: left center;
	float: right;
	height: 75px;
	margin-top: 5px;
	width: 250px;
}
#openttd-logo-text {
	height: 29px;
	margin: 36px 0px 0px 77px;
	width: 151px;
}
#openttd-logo-text-noai {
	height: 29px;
	margin: 15px 0px 0px 75px;
	width: 151px;
}
#openttd-logo-text-bananas {
	height: 29px;
	margin: 18px 0px 0px 75px;
	width: 151px;
}
#openttd-logo-text-security {
	height: 29px;
	margin: 18px 0px 0px 75px;
	width: 151px;
}
#openttd-logo-text-binaries {
	height: 29px;
	margin: 36px 0px 0px 77px;
	width: 151px;
}
#openttd-logo-text-translator {
	height: 29px;
	margin: 28px 0px 0px 75px;
	width: 151px;
}

body > nav {
	background: #555555;
	border-radius: 0px 0px 10px 10px;
	box-shadow: 0px 0px 5px #000000;
	height: 32px;
	margin: 0px auto;
	min-height: 32px;
	overflow: hidden;
}
#navigation-bar {
	display: flex;
	margin: 0px;
	padding: 0px;
}
#navigation-bar li {
	font-size: 12px;
	flex-grow: 1;
	line-height: 32px;
	list-style-type: none;
}
#navigation-bar li a {
	color: #DDDDDD;
	display: block;
	padding: 0px 3px 0px 3px;
	text-decoration: none;
	text-align: center;
}
#navigation-bar li a:focus, #navigation-bar li a:hover {
	background: linear-gradient(#C4C4C4, #A5A5A5);
	color: #444444;
}
#navigation-bar li.selected {
	background: linear-gradient(#FCD085, #FFB23F);
}
#navigation-bar li.selected a {
	color: #444444;
}

main {
	background-color: white;
	margin: 12px auto;
	padding: 7px;
	border-radius: 5px;
	box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.11);
}
body > footer {
	background-color: white;
	margin: 0 auto 36px auto;
	padding: 7px 7px 6px 7px;
	overflow: hidden;
	border-radius: 5px;
	box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.11);
}
#content-bottom-links {
	float: left;
	font-size: 11px;
	padding: 7px 5px 0px 5px;
}
#content-bottom-copyright {
	float: right;
	font-size: 11px;
	padding: 7px 5px 0px 5px;
}
#hr-clear {
	clear: both;
}

.mono {
	font-family: 'Courier New', monospace;
}
