html {
	background-color: #AB9C7D;
	color: black;
	font-family: "Trebuchet MS", Arial, Verdana, Sans-Serif;
	font-size: 12px;
}

body {
	width: 785px;
	margin: auto auto;
}

header {
	overflow: hidden;
	margin-bottom: 20px;

	background-color: #333;
	border-radius: 0px 0px 5px 5px;
	box-shadow: 0px 0px 3px 2px #444;
	color: #DDDDDD;
}

#openttd-logo {
	margin: 9px;
	margin-right: 20px;
	text-align: right;
}
#openttd-logo a {
	text-decoration: none;
}

nav {
	text-align: center;
	background-color: #444;
}

nav ul {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	padding: 0px;
	margin: auto 5px;
	list-style: none;

	min-height: 32px;
}

nav ul li {
	flex-grow: 1;
	line-height: 32px;
}

nav ul li a {
	display: block;

	text-decoration: none;
	color: #DDD;
}

.selected a {
	background: linear-gradient(#FCD085, #FEB439);
	color: #444;
}

main {
	padding: 0.1px; /* Prevents margin collapse */
	margin-bottom: 20px;

	background-color: white;
	border-radius: 5px 5px;
	box-shadow: 0px 0px 3px 2px #444;
}

main > * {
	margin: 5px;
}

footer {
	padding: 10px;
}

#footer-links a {
	color: #DD6600;
}

#footer-copyright {
	float: right;
}

#header-download {
	background: url("../img/layout/download-package.gif") 12px 50% no-repeat, rgba(85, 87, 89, 0.4);
	border: 0 solid;
	border-radius: 6px;
	float: left;
	margin: 22px 0px 0px 10px;
	padding: 9px 12px 9px 45px;
	text-align: left;
}

#header-download p {
	margin: 0px;
}

#header-download p a {
	color: #CCCCCC;
	font-size: 11px;
	text-decoration: none;
}
#header-download p a:hover {
	color: #999999;
}

hr {
	background-color: #EEE;
	height: 1px;
	border: none;
}

a {
	color: #DD6000;
}

.right {
	text-align: right;
}
