
.index-banner {
	align-items: center;
	border-radius: 6px;
	display: flex;
	height: 185px;
	justify-content: space-between;
	margin-bottom: 10px;
	overflow: hidden;
	padding-left: 30px;
	padding-right: 30px;
}
#openttd-text {
	color: #FFFFFF;
	font-size: 24px;
	width: 350px;
}
#openttd-banner-left-1 {
	background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, #333333 75%), url("../img/teaser/1.png") no-repeat;
}
#openttd-banner-left-2 {
	background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, #333333 75%), url("../img/teaser/2.png") no-repeat;
}
#openttd-banner-left-3 {
	background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, #333333 75%), url("../img/teaser/3.png") no-repeat;
}
#openttd-banner-left-4 {
	background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, #333333 75%), url("../img/teaser/4.png") no-repeat;
}
#openttd-banner-left-5 {
	background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, #333333 75%), url("../img/teaser/5.png") no-repeat;
}
#openttd-banner-left-6 {
	background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, #333333 75%), url("../img/teaser/6.png") no-repeat;
}
#openttd-banner-left-7 {
	background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, #333333 75%), url("../img/teaser/7.png") no-repeat;
}

#banner-links {
	color: #CCCCCC;
}
#banner-links ul li {
	list-style-type: none;
}
#banner-links ul li a {
	color: #FFFFFF;
	display: flex;
	flex-direction: row;
	text-decoration: none;
}
#banner-links ul li a:focus, #banner-links ul li a:hover {
	color: #999999;
}
#banner-links .h3 {
	font-size: 14px;
}
#banner-links .h5 {
	color: #CCCCCC;
	font-size: 11px;
}
#banner-links .banner-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#index-right {
	float: right;
	width: 246px;
}
#screenshot {
	margin: 0;       /* it's necessary to bring the margin to 0 because figure brings its own huge margin in most browsers */
	font-size: 11px;
}
#screenshot-image {
	display: block;
	background-color: #FCB030;
	padding: 6px;
	text-align: center;
}
#screenshot-image img {
	display: block;
	margin: auto;
	border: 1px solid #FFFFFF;
	width: 100%;
	height: auto;
}
#screenshot figcaption {
	background-color: #FEE7C0;
	padding: 10px 10px 10px 10px;
	padding: 6px;
}
#screenshot figcaption > * {
	margin: 0;
}
