#section {
	max-width: 500px;
}

.section-header h1 {
	line-height: 38px;
	background-image: url('../img/layout/section-news.gif'), url('../img/layout/section-bg.png');
	background-repeat: no-repeat, no-repeat;
	background-position: 4px, left;
	padding-left: 34px;

	font-size: 18px;
	color: #365800;
	font-weight: normal;
}

.section-title a {
    color: #000000;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

.section-title {
	margin-top: 0px;
}
.section-date {
	margin: 0px;
	text-align: right;
	font-size: 12px;
	font-weight: normal;
}
.section-author {
	margin-top: 0px;
	margin-bottom: 6px;
	text-align: right;
	font-size: 12px;
	font-weight: normal;
}

.section-content {
	border-top: 1px solid #EEE;
	padding: 5px 15px 30px 15px;

	text-align: justify;
	font-size: 14px;
}

