
#section, #section-full {
	text-align: left;
}
#section {
	width: 500px;
}
#section-full {
	width: 770px;
}
.section-header {
	background: url("../img/layout/section-bg.png") no-repeat;
	color: #365800;
	line-height: 38px;
	height: 38px;
	padding: 0px 0px 0px 10px;
	text-align: left;
	width: 500px;
}
.section-icon {
	background: url("../img/layout/section-news.gif") no-repeat;
	float: left;
	height: 28px;
	margin-top: 5px;
	padding-right: 6px;
	width: 28px;
}
.section-header h3 {
	font-size: 18px;
	margin-right: 20px;
	text-decoration: none;
}

.section-item {
	padding-top: 10px;
}
.section-item .title {
	font-size: 16px;
	float: left;
	padding-top: 5px;
}
.section-item .title h3, .section-list li .header, .section-item .title a {
	color: #000000;
	font-size: 18px;
	font-weight: bold;
	text-decoration: none;
}
.section-item .date {
	text-align: right;
}
.section-item .user {
	text-align: right;
	padding-bottom: 5px;
}
.section-item .content {
	border-top: 1px solid #EEEEEE;
	font-size: 14px;
	padding: 5px 15px 30px 15px;
	text-align: justify;
}

.section-item hr {
	width: 500px;
}

.section-list {
	list-style-type: none;
}

.right {
	float: right;
	margin-bottom: 20px;
}

