---
layout: default
title: Contact
active_nav: contact
permalink: /contact.html
---

<div id="section-full">
    {% assign contact_sorted = site.contact | where_exp: "contact", "contact.sort_priority >= 0" | sort: "sort_priority" %}
    {% for contact in contact_sorted %}
    <div class="section-header">
        <h3>{{ contact.name }}</h3>
    </div>
    <div class="section-item">
        <div class="content">
            <p>{{ contact.content }}</p>
            <ul class="section-list">
                {% for location in contact.locations %}
                <li>
                    <b>{{ location.name }}</b>: <a href="{{ location.link }}">{{ location.caption }}</a>
                </li>
                {% endfor %}
           </ul>
        </div>
    </div>
    {% endfor %}
</div>
