---
layout: default
title: Contact
active_nav: contact
permalink: /contact.html
---

<div id="section-full">
    <div class="section-header">
        <h3>Contact Information</h3>
    </div>
    <div class="section-item">
        <div class="content">
            <p>Individual developers are reachable at the following addresses. Note: these are not meant for your questions about a feature, bug, can't get something to work, or want something implemented. You should direct these questions to the <a href="https://forum.openttd.org/">forums</a> or in our IRC channel.</p>
            <p>Bug reports can be discussed on IRC or forums, but the best place for it to be addressed is on our <a href="{{ site.baseurl }}/development.html">bug tracker</a>.</p>
            <p>Do not address support requests or general questions to individual developers. You will not get an answer this way!</p>
            <ul class="section-list">
                {% assign high_priority_contacts = site.people | where_exp: "person", "person.sort_priority >= 0" | sort: "sort_priority" %}
                {% assign lower_priority_contacts = site.people | where_exp: "person", "person.sort_priority == nil" %}
                {% assign people_sorted = high_priority_contacts | concat: lower_priority_contacts %}
                {% for person in people_sorted %}
                    <li>
                        <div class="header">
                            {{ person.name }}
                            {% if person.nick %}
                                ({{ person.nick }})
                            {% endif %}
                        </div>
                            <div class="content">
                            <span style="display: block;">Email: <a href="mailto:{{ person.email }}">{{ person.email }}</a></span>
                            {% if person.role %}
                                <span style="display: block;">Role: {{ person.role }}</span>
                            {% endif %}
                        <div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="section-header">
        <h3>IRC</h3>
    </div>
    <div class="section-item">
        <div class="content">
            <p>For a more immediate form of communication you can join us in the <a href="irc://irc.oftc.net/openttd">#openttd</a> channel on <a href="https://www.oftc.net/">OFTC</a> with your favourite <a href="https://www.irchelp.org">IRC</a> client. You can use the channel for questions, problems, development or general discussion.</p>
        </div>
    </div>
    <div class="section-header">
        <h3>Mirrors</h3>
    </div>
    <div class="section-item">
        <div class="content">
            <p>Mirrors are provided by (in alphabetic order by country):</p>
            <table id="links-table">
                <tr>
                    <td>CA</td>
                    <td>Owned by OpenTTD</td>
                    <td>(IPv4 + IPv6)</td>
                </tr>
                <tr>
                    <td>CZ</td>
                    <td><a href="http://www.vutbr.cz/">Brno University of Technology</a></td>
                    <td>(IPv4 + IPv6)</td>
                </tr>
                <tr>
                    <td>DE</td>
                    <td style="font-size: 10px;">(owner unlisted)</td>
                    <td>(IPv4 + IPv6)</td>
                </tr>
                <tr>
                    <td>FR</td>
                    <td>Owned by OpenTTD</td>
                    <td>(IPv4 + IPv6)</td>
                </tr>
                <tr>
                    <td>NL</td>
                    <td><a href="http://www.snt.utwente.nl/">Studenten Net Twente at University Twente</a></td>
                    <td>(IPv4 + IPv6)</td>
                </tr>
                <tr>
                    <td>UK</td>
                    <td><a href="http://www.zernebok.com">Zernebok</a></td>
                    <td>(IPv4 + IPv6)</td>
                </tr>
                <tr>
                    <td>US</td>
                    <td><a href="http://www.zernebok.com">Zernebok</a></td>
                    <td>(IPv4 + IPv6)</td>
                </tr>
            </table>
            <br />
            <a href="https://devs.openttd.org/~truebrain/mirror.txt">Donate a mirror</a>
        </div>
    </div>
</div>
