---
layout: default
title: Home
active_nav: home
permalink: /index.html
---
{% include base_variable.html %}

<div id="content-left">
    <div id="content-right">
        <div id="content">
            <div id="index-banner">
                <div id="openttd-banner-left-4">
                    <div id="openttd-banner-right"></div>
                    <div id="banner-links">
                        <ul>
                            {% assign latest_stable = site.downloads | where_exp: "download", "download.id contains '/downloads/openttd-releases/'" | where: "name", "stable" | sort: "date" | last %}
                            <li id="banner-download"> <a href="{{ base }}{{ latest_stable.url }}">
                                <span class="h3">Download&nbsp;OpenTTD</span>
                                <span class="h5">Latest version: {{ latest_stable.id | split: "/" | last }}</span>
                                </a>
                            </li>
                            <li id="banner-wiki"> <a href="https://wiki.openttd.org/">
                                <span class="h3">Learn&nbsp;how&nbsp;to&nbsp;play</span>
                                <span class="h5">Read our wiki for help</span>
                                </a>
                            </li>
                            <li id="banner-forum"> <a href="https://forum.openttd.org/">
                                <span class="h3">Visit&nbsp;our&nbsp;community</span>
                                <span class="h5">Join us on the forums</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div id="openttd-banner">
                        <div id="openttd-text">OpenTTD is an open source simulation game based upon Transport Tycoon Deluxe</div>
                    </div>
                </div>
            </div>
            <div id="index-right">
                <!-- We are not actively looking for donations at the moment.
                    <div id="donate">
                      <a href="{{ base }}/donate.html">
                        <span id="donate-header">Support us by making a small donation</span>
                        <span id="donate-text">As part of the Open Source community, we are supported by donations from users such as yourself.</span>
                      </a>
                    </div>
                -->
                <div id="donate">
                    <a href="https://translator.openttd.org">
                        <span id="donate-header">Support us by translating</span>
                        <span id="donate-text">
                            Would you like to help translating? The following languages need help:
                            <ul>
                                <li>Persian (855 missing)</li>
                                <li>Frisian (651 missing)</li>
                                <li>Esperanto (648 missing)</li>
                                <li>Arabic (Egypt) (547 missing)</li>
                                <li>Faroese (499 missing)</li>
                                <li>Tamil (465 missing)</li>
                                <li>Malay (400 missing)</li>
                                <li>Icelandic (244 missing)</li>
                                <li>Serbian (163 missing)</li>
                                <li>Basque (153 missing)</li>
                                <li>Hebrew (120 missing)</li>
                                <li>Thai (112 missing)</li>
                                <li>Latvian (110 missing)</li>
                                <li>Greek (103 missing)</li>
                            </ul>
                        </span>
                    </a>
                </div>
                <div id="screenshot">
                    {% assign latest_screenshot = site.screenshots | first %}
                    <div id="screenshot-image">
                        <a href="{{ base }}/screenshots.html">
                            {% assign stripped_content = latest_screenshot.content | strip_html | strip_newlines %}
                            <img src="{{ base }}{{ latest_screenshot.id }}_thumb.png"
                                alt="{{ stripped_content }}"
                                title="{{ stripped_content | truncatewords: 5 }}"
                                width="232"
                                height="178"
                                />
                        </a>
                    </div>
                    <div id="screenshot-content">
                        {{ latest_screenshot.content }}
                    </div>
                </div>
            </div>
            <div id="section">
                <div class="section-header">
                    <div class="section-icon"></div>
                    <h3>Recent News</h3>
                </div>
                {% for post in site.posts limit: 5 %}
                    {% include post_macro.html %}
                {% endfor %}
                <div class="right"><a href="{{ base }}/news/page/2/">Archived News</a></div>
            </div>
        </div>
    </div>
</div>
