---
layout: default
title: Home
active_nav: home
permalink: /index.html
---

<div id="content">
    <div id="openttd-banner-left-{{ "now" | date: "%u" }}" class="index-banner">
        <img id="openttd-banner" src="{{ site.staticurl }}/img/layout/openttd-128.gif" />
        <div id="openttd-text">OpenTTD is an open source simulation game based upon Transport Tycoon Deluxe</div>
        <div id="banner-links">
            <ul>
                {% assign latest_stable = site.downloads | where_exp: "download", "download.id contains '/downloads/openttd-releases/latest'" | last %}
                <li id="banner-download">
                    <a href="{{ site.baseurl }}{{ latest_stable.url }}">
                        <img src="{{ site.staticurl }}/img/layout/index-download.gif" />
                        <div class="banner-text">
                            <div class="h3">Download OpenTTD</div>
                            <div class="h5">Latest version: {{ latest_stable.version }}</div>
                        </div>
                    </a>
                </li>
                <li id="banner-wiki">
                    <a href="https://wiki.openttd.org/">
                        <img src="{{ site.staticurl }}/img/layout/index-wiki.gif" />
                        <div class="banner-text">
                        <div class="h3">Learn how to play</div>
                        <div class="h5">Read our wiki for help</div>
                        </div>
                    </a>
                </li>
                <li id="banner-forum">
                    <a href="https://forum.openttd.org/">
                        <img src="{{ site.staticurl }}/img/layout/index-forum.gif" />
                        <div class="banner-text">
                        <div class="h3">Visit our community</div>
                        <div class="h5">Join us on the forums</div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div id="index-right">
        <figure id="screenshot">
            {% assign random_screenshot = site.screenshots | sample %}
            <a href="{{ site.baseurl }}/screenshots.html" id="screenshot-image">
                {% assign stripped_content = random_screenshot.content | strip_html | strip_newlines %}
                <img src="{{ site.baseurl }}{{ random_screenshot.id }}_thumb.png"
                    alt=""
                    title="{{ stripped_content | truncatewords: 5 }}"
                    width="232"
                    height="178"
                    />
            </a>
            <figcaption>
                {{ random_screenshot.content }}
            </figcaption>
        </figure>
    </div>
    <div id="section">
        <div class="section-header">
            <h3>Recent News</h3>
        </div>
        {% for post in site.posts limit: 5 %}
            {% include post_macro.html excerpt="true" %}
        {% endfor %}
        <div class="further-link"><a href="{{ site.baseurl }}/news/page/2/">Archived News</a></div>
    </div>
</div>
