---
layout: default
title: Screenshots
active_nav: screenshots
permalink: /screenshots.html
---

<div id="section-full">
    <div class="section-header">
        <h3>OpenTTD showcase</h3>
    </div>
    <div class="section-item">
        <div class="content">
            <p>This section shows some interesting features and eyecandy of OpenTTD. If you think you have screenshots worthy of inclusion in this section, drop a mail to <a href="mailto:info@openttd.org">info@openttd.org</a>. You can write a short story as a caption. Only images in PNG format will be accepted!</p>
            <p>Click on one of the images to get a better view.</p>
        </div>
    </div>
    {% assign groups = site.screenshots | group_by_exp: "screenshot", "screenshot.path | remove_first: '_screenshots/' | split: '-' | first" %}
    {% assign groups_sorted = groups | sort: "name" | reverse %}
    {% for group in groups_sorted %}
        <div class="section-header">
            {% if group.name == "special" %}
                <h3>Special screenshots</h3>
            {% else %}
                <h3>Screenshots from {{ group.name }}</h3>
            {% endif %}
        </div>
        <div class="section-item">
            <div class="content">
                {% assign sorted_items = group.items | sort: "id" %}
                {% for screenshot in sorted_items %}
                    <a href="{{ site.baseurl }}{{ screenshot.url }}">
                        {% assign stripped_content = screenshot.content | strip_html | strip_newlines %}
                        <img
                            src="{{ site.baseurl }}{{ screenshot.id }}_thumb.png"
                            alt="{{ stripped_content }}"
                            title="{{ stripped_content | truncatewords: 5 }}"
                            width="240"
                            height="184"
                            />
                    </a>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
</div>
