<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="Description" content="An open source simulator based on the classic game Transport Tycoon Deluxe. It attempts to mimic the original game as closely as possible while extending it with new features." />
        <meta name="Keywords" content="Transport,Tycoon,Deluxe,TTDLX,TTD,OpenTTD,OTTD" />
        <link rel="icon" href="static/favicon.ico" type="image/icon" />
        <link rel="stylesheet" href="static/css/base.css" type="text/css" />
        <link rel="stylesheet" href="static/css/page.css" type="text/css" />
        <link rel="stylesheet" href="static/css/index.css" type="text/css" />
        <title>{{ page.title }}</title>
  </head>
  <body>
    CABBAGE
    {{ content }}
  </body>
</html>
