<!doctype html>
<html>
    {% include base_variable.html %}

    <head>
        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="Description" content="An open source simulator based on the classic game Transport Tycoon Deluxe. It attempts to mimic the original game as closely as possible while extending it with new features." />
        <meta name="Keywords" content="Transport,Tycoon,Deluxe,TTDLX,TTD,OpenTTD,OTTD" />
        <link rel="icon" href="{{ base }}/static/favicon.ico" type="image/icon" />
        <link rel="stylesheet" href="{{ base }}/static/css/base.css" type="text/css" />
        <link rel="stylesheet" href="{{ base }}/static/css/page.css" type="text/css" />
        <link rel="stylesheet" href="{{ base }}/static/css/index.css" type="text/css" />
        <title>OpenTTD | {{ page.title }}</title>
    </head>
    <body>
        <div id="header">
            <div id="header-left"></div>
            <div id="header-right"></div>
            <div id="download-fast-2">
                <h5><a href="https://www.openttd.org/en/download-stable">CABBAGE stable (1.8.0)</a></h5>
                <h5><a href="https://www.openttd.org/en/download-trunk">CABBAGE nightly (r28004)</a></h5>
            </div>
            <div id="header-logo">
                <div id="openttd-logo">
                    <div id="openttd-logo-text"><a href="{{ base }}"><img src="{{ base }}/static/img/layout/openttd-logo.png" alt="OpenTTD" /></a></div>
                </div>
            </div>
        </div>
        <div id="navigation">
            <div id="navigation-left"></div>
            <div id="navigation-right"></div>
            <ul id="navigation-bar">
                <li class="{% if page.active_nav == 'home' %}selected{% endif %}">
                    <a href="{{ base }}/index.html">Home</a>
                </li>
                <li class="{% if page.active_nav == 'about' %}selected{% endif %}">
                    <a href="{{ base }}/about.html">About</a>
                </li>
                <li><a href="https://wiki.openttd.org/">Manual</a></li>
                <li class="{% if page.active_nav == 'screenshots' %}selected{% endif %}">
                    <a href="{{ base }}/screenshots.html">Screenshots</a>
                </li>
                <li><a href="https://servers.openttd.org">Servers</a></li>
                <li class="{% if page.active_nav == 'development' %}selected{% endif %}">
                    <a href="{{ base }}/development.html">Development</a>
                </li>
                <li><a href="https://forum.openttd.org/">Forum</a></li>
                <li><a href="https://wiki.openttd.org/Community">Community</a></li>
                <li class="{% if page.active_nav == 'contact' %}selected{% endif %}">
                    <a href="{{ base }}/contact.html">Contact</a>
                </li>
                <li class="{% if page.active_nav == 'donate' %}selected{% endif %}">
                    <a href="{{ base }}/donate.html">Donate</a>
                </li>
            </ul>
        </div>
        <div id="content-main">
            {{ content }}
            <hr id="hr-clear" />
            <div id="content-bottom">
                <div id="content-bottom-links">
                    <a href="{{ base }}/policy.html">Privacy Policy</a> |
                    <a href="https://account.openttd.org/en/login">Login</a> |
                    <a href="{{ base }}/contact.html">Contact</a>
                </div>
                <div id="content-bottom-copyright">
                    Copyright &copy; 2005-2018 OpenTTD Team
                </div>
            </div>
        </div>
    </body>
</html>
