<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="Description" content="An open source simulator based on the classic game Transport Tycoon Deluxe. It attempts to mimic the original game as closely as possible while extending it with new features." />
        <meta name="Keywords" content="Transport,Tycoon,Deluxe,TTDLX,TTD,OpenTTD,OTTD" />
        <link rel="icon" href="{{ site.staticurl }}/favicon.ico" type="image/icon" />
        <link rel="stylesheet" href="{{ site.staticurl }}/css/base.css" type="text/css" />
        <link rel="stylesheet" href="{{ site.staticurl }}/css/page.css" type="text/css" />
        <link rel="stylesheet" href="{{ site.staticurl }}/css/index.css" type="text/css" />
        {% for filename in layout.css %}
        <link rel="stylesheet" href="{{ site.staticurl }}/css/{{ filename }}" type="text/css" />
        {% endfor %}
        {% for filename in layout.js %}
        <script type="text/javascript" src="{{ site.staticurl }}/js/{{ filename }}"></script>
        {% endfor %}
        {% feed_meta %}
        <title>OpenTTD{% if layout.section_title != nil %} | {{layout.section_title}}{% endif %} | {{ page.title }}</title>
    </head>
    <body>
        <header>
            {% assign latest_stable = site.downloads | where_exp: "download", "download.id == '/downloads/openttd-releases/latest'" | last %}
            {% assign latest_testing = site.downloads | where_exp: "download", "download.id == '/downloads/openttd-releases/testing'" | last %}
            {% assign latest_nightly = site.downloads | where_exp: "download", "download.id == '/downloads/openttd-nightlies/latest'" | last %}

            {% if latest_nightly.version == latest_stable.version or latest_nightly.version == latest_testing.version %}
            {% assign nightly_version = latest_nightly.version %}
            {% else %}
            {% assign nightly_version = latest_nightly.version | split: "-" | slice: 0 %}
            {% endif %}

            <div id="download-fast">
                <h5><a href="{{ site.baseurl }}{{ latest_stable.url }}">Download stable ({{ latest_stable.version }})</a></h5>
                {% if latest_stable.date < latest_testing.date %}
                <h5><a href="{{ site.baseurl }}{{ latest_testing.url }}">Download testing ({{ latest_testing.version }})</a></h5>
                {% endif %}
                <h5><a href="{{ site.baseurl }}{{ latest_nightly.url }}">Download nightly ({{ nightly_version }})</a></h5>
            </div>
            <div id="header-logo">
                <div id="openttd-logo">
                    <div id="openttd-logo-text"><a href="{{ site.baseurl }}"><img src="{{ site.staticurl }}/img/layout/openttd-logo.png" alt="OpenTTD" /></a></div>
                </div>
            </div>
        </header>
        <nav>
            <ul id="navigation-bar">
                <li class="{% if page.active_nav == 'home' %}selected{% endif %}">
                    <a href="{{ site.baseurl }}/">Home</a>
                </li>
                <li class="{% if page.active_nav == 'about' %}selected{% endif %}">
                    <a href="{{ site.baseurl }}/about.html">About</a>
                </li>
                <li><a href="https://wiki.openttd.org/">Manual</a></li>
                <li class="{% if page.active_nav == 'screenshots' or layout.active_nav == 'screenshots' %}selected{% endif %}">
                    <a href="{{ site.baseurl }}/screenshots.html">Screenshots</a>
                </li>
                <li><a href="https://servers.openttd.org">Servers</a></li>
                <li class="{% if page.active_nav == 'development' %}selected{% endif %}">
                    <a href="{{ site.baseurl }}/development.html">Development</a>
                </li>
                <li><a href="https://forum.openttd.org/">Forum</a></li>
                <li><a href="https://wiki.openttd.org/Community">Community</a></li>
                <li class="{% if page.active_nav == 'contact' %}selected{% endif %}">
                    <a href="{{ site.baseurl }}/contact.html">Contact</a>
                </li>
                <li class="{% if page.active_nav == 'donate' %}selected{% endif %}">
                    <a href="{{ site.baseurl }}/donate.html">Donate</a>
                </li>
            </ul>
        </nav>
        <main>
            {{ content }}
        </main>
        <footer>
            <div id="content-bottom-links">
                <a href="{{ site.baseurl }}/policy.html">Privacy Policy</a> |
                <a href="https://account.openttd.org/en/login">Login</a> |
                <a href="{{ site.baseurl }}/contact.html">Contact</a>
            </div>
             <div id="content-bottom-copyright">
                    Copyright &copy; 2005-{{ site.time | date: '%Y' }} OpenTTD Team
            </div>
        </footer>
    </body>
</html>
