---
layout: default
section_title: Download
css:
    - download.css
js:
    - download.js
    - ua-parser.js
---

{% assign raw_type = page.id | split: "/" | slice: 2 | first %}
{% assign type = raw_type | prepend: "/download-meta/" %}
{% assign meta = site.download-meta | where: "id", type | first %}
{% unless page.version %}
{% assign version = page.id | split: "/" | last %}
{% else %}
{% assign version = page.version %}
{% endunless %}

{% if page.on_old_infrastructure %}
{% assign folder = meta.folder_old_infrastructure %}
{% else %}
{% assign folder = raw_type %}
{% endif %}

{% unless meta.id %}
    {{ "No download-meta entry found for " | append: raw_type | raise_error }}
{% endunless %}

<div id="section-full">
    <div class="section-header">
        <h3>Download</h3>
    </div>
    <div class="section-item">
        <div class="content">
            {{ meta.content | markdownify | replace: "@@version@@", version }}
            <p>For all binaries officially released by us we publish the MD5, SHA1, and SHA256 checksums. You can use these checksums to check whether the file you downloaded has been modified. All three checksums should match the file you downloaded; if this is not the case it means that either the file didn't come from us or that it got broken during transport. Either way it might possibly contain dangerous modifications and the file should therefore not be trusted!</p>
        </div>
    </div>
    <div class="section-header">
        <h3>Download {{ page.name }}</h3>
    </div>
    <div class="section-item">
        <div class="content">
            <p>Latest release in {{ page.name }} is {{ version }}, released on {{ page.date | date: "%Y-%m-%d %H:%M" }} UTC.</p>

            <div class="changelog">[&nbsp;<a href="{{ page.host }}/{{ folder }}/{{ version }}/changelog.txt">Changelog</a>&nbsp;]</div>
            <div id="download-combo">
                <input type="hidden" id="download-combo-state" value="" />
                <input type="hidden" id="download-base-name" value="{{ page.base }}" />
            </div>

            <ul id="download-data">
                {% for file in page.files %}
                {% assign extension = file.id | replace: page.base, "" %}
                {% assign description = site.data.download-descriptions[extension].description %}
                {% unless description %}
                    {% assign description = "Unknown Filetype" %}
                {% endunless %}

                <li id="{{ file.id }}">
                    <div class="filename"><a href="{{ page.host }}/{{ folder }}/{{ version }}/{{ file.id }}">{{ description }}</a></div>
                    <div class="filesize">[&nbsp;{{ file.size | string_of_size }}&nbsp;]</div>
                    <div class="checksums-dropdown" onclick="toggleChecksum(this, 'checksum-{{ file.id }}')">[&nbsp;<a href="#" onclick="return false;">Checksums</a>&nbsp;]</div>
                    <div class="checksums" id="checksum-{{ file.id }}">
                        md5sum&nbsp;&nbsp;&nbsp;: {{ file.md5sum }}<br />
                        sha1sum&nbsp;&nbsp;: {{ file.sha1sum }}<br />
                        sha256sum: {{ file.sha256sum }}<br />
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>

        <script type="text/javascript">detectByUA(document.getElementById("download-combo-state"), "{{ page.base }}"); updateCombo(document.getElementById("download-data"));</script>
    </div>
    {% if page.dev_files %}
    <div class="section-header">
        <h3>Developer Files</h3>
    </div>
    <div class="section-item">
        <div class="content">
            <p>These files are not required to play, and do not add anything to the game. They can be useful for programmers who want to diagnose crash bugs.</p>

            <ul id="dev_download-data">
                {% for file in page.dev_files %}
                {% assign extension = file.id | replace: page.base, "" %}
                {% assign description = site.data.download-descriptions[extension].description %}
                {% unless description %}
                    {% assign description = "Unknown Filetype" %}
                {% endunless %}

                <li id="{{ file.id }}">
                    <div class="filename"><a href="{{ page.host }}/{{ folder }}/{{ version }}/{{ file.id }}">{{ description }}</a></div>
                    <div class="filesize">[&nbsp;{{ file.size | string_of_size }}&nbsp;]</div>
                    <div class="checksums-dropdown" onclick="toggleChecksum(this, 'checksum-{{ file.id }}')">[&nbsp;<a href="#" onclick="return false;">Checksums</a>&nbsp;]</div>
                    <div class="checksums" id="checksum-{{ file.id }}">
                        md5sum&nbsp;&nbsp;&nbsp;: {{ file.md5sum }}<br />
                        sha1sum&nbsp;&nbsp;: {{ file.sha1sum }}<br />
                        sha256sum: {{ file.sha256sum }}<br />
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endif %}
</div>
