---
layout: default
---

<div id="section-full">
    <div class="section-header">
      <div class="section-icon"></div>
      <h3>OpenTTD screenshot</h3>
    </div>
    <div class="section-item">
      <div class="content">
        <p>{{ page.caption }}</p>
        <a href="{{ page.id | remove_first: '/screenshots/'}}.png">
            <img src="{{ page.id | remove_first: '/screenshots/'}}.png" alt="{{ page.caption }}" style="max-width: 734px;" />
        </a>
      </div>
    </div>
  </div>

