---
layout: default
active_nav: screenshots
section_title: Screenshots
---

<div id="section-full">
    <div class="section-header">
        <h3>OpenTTD screenshot</h3>
    </div>
    <div class="section-item">
        <div class="content">
            <p>{{ page.content }}</p>
            <a href="{{ site.baseurl }}{{ page.id }}.png">
                {% assign stripped_content = page.content | strip_html | strip_newlines %}
                <img
                    src="{{ site.baseurl }}{{ page.id }}.png"
                    alt="{{ stripped_content }}"
                    title="{{ stripped_content | truncatewords: 5 }}"
                    style="max-width: 734px;"
                    />
            </a>
        </div>
    </div>
</div>
