name: Testing

on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

permissions:
  actions: read
  checks: read
  contents: read
  security-events: write

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        submodules: true

    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: '3.3'
        bundler-cache: true

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: 3.8

    - name: Install dependencies
      run: python -m pip install -r requirements.txt

    - name: Build
      run: |
        python -m fetch_downloads
        JEKYLL_ENV=production bundle exec jekyll build --strict_front_matter

  codeql:
    name: CodeQL
    uses: OpenTTD/actions/.github/workflows/rw-py-codeql.yml@v5
    with:
      python-version: 3.8

  flake8:
    name: Flake8
    uses: OpenTTD/actions/.github/workflows/rw-py-flake8.yml@v5
    with:
      python-path: fetch_downloads

  black:
    name: Black
    uses: OpenTTD/actions/.github/workflows/rw-py-black.yml@v5
    with:
      python-path: fetch_downloads
      python-version: 3.8

  annotation_check:
    name: Annotation Check
    needs:
    - build
    - flake8
    - black
    # not codeql, as that reports its own status

    uses: OpenTTD/actions/.github/workflows/rw-annotation-check.yml@v5
